@import url('https://fonts.googleapis.com/css2?family=Climate+Crisis&family=Fjalla+One&family=Open+Sans:ital@1&display=swap');


:root {
    --primary-color: #070D0B;
    --secondary-color: #CBE2DB;
    --accent1-color: #DFE2E1;
    --accent2-color: #AB9BA4;
    --heading-font: 'Fjalla One', sans-serif;
    --paragraph-font: 'Open Sans', sans-serif;
    --nav-background-color: #070D0B;
    --nav-link-color: #0A0A0A;
    --nav-hover-link-color: #53917E;
    --nav-hover-background-color: #DFE2E1;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #DFE2E1;
}

/* Heading Styles */
h2 {
    font-family: var(--heading-font);
    color: #0A0A0A;
    margin: 15px;
    text-align: center; 
}

/* Paragraph Styles */
p {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.6;
    color: #0A0A0A;
    margin: 15px;
    padding: 20px;
}

.nav-bar {
    background-color: #CBE2DB;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
    height: 6rem;

}

.nav-bar img {
    height: 5rem;
    width: auto;
    grid-column: 1/5;
    justify-self: start;
    margin-left: 2rem;
}

.nav-links {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 2rem;


}

.nav-links a {
    background-color: aliceblue;
    padding: 8px;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    color: #070D0B;
    font-size: 1rem;
    font-weight: bold; 
}

.nav-links a:hover {
    color: var(--nav-hover-link-color);
}

/* Hero Section Styles */
.hero {
    position: relative;
}

.hero img {
    width: 100%;
    height: 20rem;
    opacity: 0.8;
}

.hero h1 {
    font-family: var(--heading-font);
    color: black;
    margin: 0;
    padding-top: 1rem;
    position: absolute;
    top: 7%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hero article {
    position: absolute;
    top: 55px;
    left: 50%;
    transform: translateX(-50%);
    text-align: left;
    background: rgba(255, 255, 255, 0.7);
    padding: 15px;
    height: 15rem;
    width: 80rem;
}

.hero article img {
    width: 200px;
    height: auto;
    float: right;
    margin-right: 15px;
    position: relative;
    top: 15px;
}

/* History Section Styles */
.history-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px; 
}
.content {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.left-column,
.middle-column,
.right-column {
    width: 33%;
    padding: 0 10px;
}

.middle-column img {
    max-width: 100%;
    max-height: 300px;
    height: auto;
    display: block;
    margin: 0 auto;
}

/* Adventure Section Styles */
.adventure-section {
    margin-top: 50px;
}

.adventure-images {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 20px 0;
    justify-content: space-around;
}

.adventure-images img {
    width: 200px;
    height: 150px;
}

.adventure-images figcaption {
    text-align: center;
    margin: 10px;
    font-size: 0.9em;
    font-family: 'Open Sans', sans-serif; /* Added font-family */
}

/* Footer Styles */
footer {
    background-color: #CBE2DB;
    padding: 10px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
}

.footer-content p {
    margin: 0;
}