@import url('https://fonts.googleapis.com/css2?family=Climate+Crisis&family=Fjalla+One&family=Open+Sans:ital@1&display=swap');


:root{
    --primary-color: #070D0B;
    --secondary-color: #CBE2DB;
    --accent1-color: #DFE2E1;
    --accent2-color: #AB9BA4;
    --heading-font : 'Fjalla One',sans serif;
    --paragraph-font : 'Open Sans',sans serif;
    --nav-background-color :#53917E;
    --nav-link-color :#0A0A0A;
    --nav-hover-link-color:#53917E;
    --nav-hover-background-color:#DFE2E1 ;
}

* {
    box-sizing: border-box;
	margin: 0;
	padding: 0;
    }

body {
    background-color: #DFE2E1;
}    


 h2 {
    font-family: var(--heading-font);
    color: #0A0A0A;
    margin: 15px;
    
   
}


p {
        font-family: Open Sans, sans-serif;
        line-height: 1.6;
        color:#0A0A0A; 
        margin: 15px;
        padding : 20px;
        
}


header {
    background-color:#CBE2DB;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    padding: 5px 10px;
    
}

header a {
    display: inline-block;
    padding:0 20px ;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    color: #070D0B;
    font-size: 800;
    color: var(--nav-link-color);
    transition: color 0.3s ease;
}
header a:hover {
    color: var(--nav-hover-link-color);
}

header img {
    height: 90px;
    width: 120px;
}

section {
    text-align: center; 
    
}

section img {
    display: inline-block;  
    margin: 0 5px;  
    width: auto; 
    height: 150px; 
    opacity: 0.8; 
}

.hero {
    position: relative;
}

.hero img {
    width: 100%;
    height: auto;
    opacity: 0.8;
}

.hero h1 {
    font-family: var(--heading-font);
    color: white;
    margin: 0;
    padding: 20px;
    position: absolute;
    top: 7%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hero article {
    position: absolute;
    top: 55px;
    left: 50%;
    transform: translateX(-50%);
    text-align: left;
    background: rgba(255, 255, 255, 0.7); 
    padding: 15px;
   
}

.hero article img {
    width: 200px;
    height: auto;
    float:right;
    margin-right: 15px;
}


.hero article p {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.6;
    color: #0A0A0A;

}


footer {
    position: relative;
    background-color:#CBE2DB; 
    padding: 1px;
   
}

.social-all-links {
    position: absolute;
    bottom: 0;
    right: 0;
}

section {
    margin-bottom: 0; 
    padding: 20px; 
}
